.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-image: url('../images/eventBg.png');
    background-size: cover;
  }
  
  .info-cards {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    padding: 30px;
    width: 200px;
    height:200px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .info-cards:hover {
    transform: translateY(-10px);
  }
  
  .info-card-icon {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .info-card-title {
    font-size: 1em;
    font-weight: bold;
    color: #333;
  }
  