/* src/NewsItem.css */
.news-item {
    background-color: #3f80ca;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .news-title {
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .news-category {
    color: #b1e2ff;
  }
  
  .news-info {
    font-size: 0.9em;
  }
  
  .news-date {
    display: block;
    margin-top: 5px;
  }