
#dateContainer{
    padding:5px;
    margin-left:5px;
    color:white;
    align-items: center;
    display: flex;
}
#top-nav{
    display:flex;
    background-color: black;
}

#top-nav-inst{
    display:flex;
    list-style: none;
    margin-left: auto;
    margin-right: 5vw;
    padding:5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
}
li{
    padding:5px;
}

li a{
    color:white;
}

.navbar{
    justify-items: center;
}